mat-toolbar {
  height: 70px;
}

mat-toolbar-row {
  padding-right: 0px;
}

.logotext {
  color: white;
  font-size: 25px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}