<mat-grid-list cols="1" rowHeight="fit">
  <mat-grid-tile rowspan="1"></mat-grid-tile>
  <mat-grid-tile>
    <h1>You are logged in as a HydroBlox production meter</h1>
  </mat-grid-tile>
  <mat-grid-tile>
    <span>Current subscription run state: {{ currentState }}</span>
  </mat-grid-tile>
  <mat-grid-tile>
    <span>Subscribed: {{ isSubscribedProducer }}</span>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color=primary [disabled]="!canSubscribe" (click)="subscribe()">
      <span>Subscribe</span>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color=primary [disabled]="!canProduce" (click)="producewater(10)">
      <span>Produce water</span>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color=primary [disabled]="!canClaim" (click)="claimProducer()">
      <span>Claim native tokens</span>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
  </mat-grid-tile>
  <mat-grid-tile rowspan="3"></mat-grid-tile>
</mat-grid-list>