<mat-grid-list cols="1" rowHeight="fit">
  <mat-grid-tile rowspan="1"></mat-grid-tile>
  <mat-grid-tile>
    <h1>You are logged in as HydroBlox distributor</h1>
  </mat-grid-tile>
  <mat-grid-tile>
    <span>Current subscription run id: {{ subscriptionRunId }}</span>
  </mat-grid-tile>
  <mat-grid-tile>
    <span>Current subscription run state: {{ currentState }}</span>
  </mat-grid-tile>
  <mat-grid-tile>
    <span>Total drinkable water supply: {{ tokenTotalSupply }} liters (HBT tokens)</span>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color=primary (click)="onTransitionClicked()">
      <span>Transition to next state</span>
    </button>
  </mat-grid-tile>
  <mat-grid-tile rowspan="1"></mat-grid-tile>
</mat-grid-list>